extends layout

block content
  h1= title

  form(id='mobileForm', action="/resource/mobile", method="POST")
    div.form-group
        label.mobileAttr(for='mobilecompany') mobile type :
         input#mobilecompany(type='text', name='mobilecompany')
    div.form-group
        label.mobileAttr(for='model') mobile model :
         input#model(type='text', name='model')
    div.form-group
        label.mobileAttr(for='prize') mobile cost :
         input#prize(type='number', name='prize')
    input(type="submit")

  script.
    document.forms['mobileForm'].addEventListener('submit', (event) => {
      event.preventDefault();
      // TODO do something here to show user that form is being submitted
      fetch(event.target.action, {
        method: 'POST',
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form
      }).then((resp) => {
        return resp.json(); // or resp.text() or whatever the server sends
      }).then((body) => {
        alert("save failed"+JSON.stringify(body.errors));
        
        // TODO handle body
      }).catch((error) => {
        // TODO handle error
        alert("Save failed " + JSON.stringify(error) );
      });
    });
